.faqs-scroll {
    height: 60vh;
    margin: 5% 2% 4% 5%;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #4A4A4A;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4A4A4A; 
}
